/* 
Fonts
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif; 

color: 
#043873
#FFFFFF 
#FFE492 
#4F9CF9 

*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap');

/* Basic css 
*/
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    background-color: rgb(178, 223, 223);
    line-height: 1.7;
}
.theme-button{
    display: inline-block;
    background: #4F9CF9;
    border-radius: 8px;
    padding: 16px 24px !important;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 20px;
}
.theme-button:hover{
    color: #FFFFFF;
}
.theme-button-two{
    display: inline-block;
    background: #FFE492 ;
    border-radius: 8px;
    padding: 16px 24px !important;
    color: #043873 !important;
}
.theme-button-three{
   display: inline-block;
   background: #FFFFFF ;
   border:  1px solid #FFE492;
   border-radius: 8px;
   padding: 16px 24px !important;
   color: #043873 !important;
   text-decoration: none;
}
.theme-button img{
    margin-left: 10px;
}

.theme-text h3{
    font-weight: 700;
    font-size: 72px;
    color: #212529;
    margin-bottom: 15px;
    letter-spacing: -0.02em;
 }
 .theme-text p{
    color: #212529;
 }
 .theme-text h3 span{
    position: relative;
    z-index: 1;
 }
 .theme-text h3 span::after{
    position: absolute;
    content: "";
    width: 105%;
    Height: 43px;
    left: 0px;
    bottom: 0;
    z-index: -1;
    background-image: url(img/element.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
 }


 /* header css */
 .header-area{
    background-color:#043873 ;
    padding: 16px 0;
 }
 .header-area .theme-button{
    margin-left: 24px;
    margin-top: 0;
 }
 .header-area .theme-button-two{
    margin-left: 24px;
 }
 
 .header-area .nav-link{
    color: #FFFFFF;
    padding:0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    padding: 16px 24px !important;
 }
 .header-area .navbar-toggler{
    border: none;
    box-shadow: none;
 }

 @media (max-width: 991px){
    .theme-button{
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 15px;
    }
    .theme-button-two{
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-top: 15px;
        
    }
    .header-area .nav-link{
        padding:16px 0 !important;
     }
     .header-area .nav-link{
        position: relative;
     }
     .header-area .nav-link::after{
        position: absolute;
        right: 6px;
        top: 50%;
        transform: translate(-50%);
     }
     .header-area .theme-button{
        margin-left: 0px;
        margin-top: 20px;
     }
     .header-area .theme-button-two{
        margin-left: 0px;
     }
     
 }

 /* start hero area */
 .hero-area{
    padding: 100px 0;
    background-image: url(img/hero-bg.png);
    background-size: cover;
    background-position: center;
 }
 .hero-text h3{
    font-weight: 700;
    font-size: 52px;
    
    letter-spacing: -0.02em;
 }
 .hero-area .theme-button{
    margin-top: 30px;
 }
 @media (max-width: 991px){
    .hero-text{
        text-align: center;
        
    }
    .hero-text h3{
        font-size: 36px;
        
    }
    .hero-area .theme-button{
        margin-bottom: 30px;
     }
     .hero-area{
        padding: 80px 0;
     }

 }

 /* management area start */
 .management-area{
    padding: 100px 0;
    background-color: #FFFFFF;
 }
 .work-together{
    margin-top: 100px;
}
.work-together .theme-text h3 span::after{
    width: 105%;
    Height: 43px;
}

 @media (max-width: 991px){
    .theme-text{
        text-align: center;
    }
    .theme-text h3{
        font-size: 36px;
        color: #212529;
        margin-bottom: 15px;}
    .management-area .theme-button{
         margin-bottom: 50px;}
    .management-area{
         padding: 80px 0;}
    .work-together{
         margin-top: 60px;}
}

/* Start extension area  */
.extension-area{
    padding: 140px 0;
    background-color: #043873;
}
.extension-area .theme-text h3{
    color: #FFFFFF;
 }
 .extension-area .theme-text p{
    color: #FFFFFF;
 }


 @media (max-width: 991px){
    .extension-area .theme-button{
        margin-bottom: 50px;
    }
    .extension-area{
        padding: 80px 0;}
 }

 .customise-area{
    padding: 140px 0;
    background-color: #FFFFFF;
}

@media (max-width: 991px){
    .customise-area{
    padding: 80px 0;}
    .customise-area .theme-text{
        margin-top: 50px;}
}

/* Start Pricing area */
.Pricing-area{
   padding: 140px 0;
   background-color: #FFFFFF;
}
.Pricing-area .theme-text{
   text-align: center;
}
.Pricing-area .row{
   margin-bottom: 60px;
}
.single-pricing{
   color: #212529;
   padding: 40px 44px;
   background: #FFFFFF;
   border: 1px solid #FFE492;
   border-radius: 10px;
}
.single-pricing h4{
   font-size: 24px;
   font-weight: 600;
   margin-bottom: 25px;
}
.single-pricing h2{
   font-size: 36px;
   font-weight: 700;
   margin-bottom: 25px;
}
.single-pricing h5{
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 25px;
}
.single-pricing p{
   font-size: 16px;
   font-weight: 400;
}
.single-pricing ul{
   margin: 0;
   padding: 0;
}
.single-pricing li{
   list-style: none;
   margin-bottom: 28px;
}
.single-pricing li img{
   margin-right: 19px;
}
.special-pricing{
   padding: 80px 40px;
   background-color: #043873;
   color: #FFFFFF;
}
.special-pricing h2{
   color: #FFE492;
}

@media (max-width: 991px){
   .Pricing-area{
      padding: 80px 0;
   
   }
   .special-pricing{
      margin-bottom: 30px;
   }
}

/* Start your work */
.your-work-area{
   padding: 140px;
   background-color: #043873;
   
}
.your-work-area h3{
   color: #FFFFFF; !important
}
.your-work-area p{
   color: #FFFFFF; !important
}
.your-text h3 span::after{
   
   background-image: url(img/icon-y.png);
   
}
@media (max-width: 991px){
   .your-work-area{
      padding: 80px 0;}
}

/* start your data */
.your-data-area{
   padding: 140px 0;
   background-color: #FFFFFF;
}
@media (max-width: 991px){
   .your-data-area{
      padding: 80px 0;
   }
   .your-data-image{
      margin-bottom: 100px;
   }
}
.sponsors-area{
   padding: 140px 0;
   background-color: #FFFFFF;
   color: #212529;
}
.sponsors-area .data-text{
   margin-bottom: 80px;
}
.single-sponsore img{
   height: 55px;
   width: auto;
}
@media (max-width: 991px){
   .sponsors-area{
   padding-top: 80px;
   padding-bottom: 30px;}

   .single-sponsore{
      margin-bottom: 50px;
   }
}
/* start apps area */

.apps-area{
   padding: 100px 0;
   background-image: url(img/apps-bg.png);
   background-size: cover;
   background-position: center;
}
.apps-area .theme-text h3{
   color: #FFFFFF;
}
.apps-area .theme-text p{
   color: #FFFFFF;
}
@media (max-width: 991px){
   .apps-area{
      padding: 80px 0;
   }
   .apps-area .theme-text{
      margin-top: 80px;
      
   }
   .apps-area .theme-button{
      margin-top: 40px;
   }
}


.Testimonial-area{
   background-color: #FFFFFF;
   padding: 140px 0;
}
.Testimonial-area .theme-text{
   margin-bottom: 50px;
}
.single-Testimonial{
   padding: 50px 25px;
   background: #4F9CF9
   ;
box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
border-radius: 10px;
color: #212529;

}
.Testimonial-text img{
   width: auto !important;
height: 60px;
margin-bottom: 30px;
}
.Testimonial-text{
   border-bottom: 1px solid #FFFFFF;

}
.Testimonial-text p{
   margin-bottom: 30px;
   line-height: 30px;
   color: #FFFFFF;
   
}
.Testimonial-author{
   margin-top: 60px;
   display: flex;
   
}
.author-image{
   margin-right: 35px;
}
.author-text h3{
   font-size: 24px;
   color: #043873;
}
.author-text p{
   margin-bottom: 0;
   color: #FFFFFF;
}

.Testimonial-area .owl-dots button{
   height: 15px;
   width: 15px;
   background-color: #4F9CF9 !important;
   border-radius: 50%;
   margin: 5px;
   text-align: center;
   
}
.Testimonial-area .owl-dots{
   text-align: center;
   margin-top: 50px;
}
.Testimonial-area .owl-dots button.active{
   background-color:#043873 !important ;
}

@media (max-width: 991px){
   .Testimonial-area{
      padding: 80px 0;
}
}
/* start trial-area */
.trial-area{
   padding-top: 140px;
   padding-bottom: 30px;
   background-color: #043873;
}
.trial-area .theme-text h3 {
   color: #FFFFFF;
}

.trial-area .theme-text h4 {
   font-size: 24px;
}
.trial-text{
   text-align: center;
}
.trial-text .theme-button{
   margin-bottom: 25px;
}
.trial-img{
   margin: 40px 0;
}
.trial-img a{
   margin-right: 40px;
   text-decoration: none;
}

@media (max-width: 991px){
   .trial-area .theme-text{
      text-align: left;
   }
   .trial-img{
      text-align: left;
   }
   .trial-area{
      padding-top: 80px;
   padding-bottom: 30px;
   }
   .trial-area .theme-text h4 {
      font-size: 18px;
   }
 
}
/* start footer area */
.footer-area {
   padding-top: 140px;
   background-color: #043873;
   border: 1px solid #1554a0;
}
.footer-top{
   margin-bottom: 60px;
}
.footer-about img{
   margin-bottom: 15px;
}
.footer-link h3{
   font-size: 18px;
   font-weight: 700;
   padding-bottom: 10px;
}
.footer-link a{
   font-size: 16px;
   color: #FFFFFF;
   text-decoration: none;
   transition: .5s;
   padding-bottom: 5px;
   display: inline-block;
}
.footer-link a:hover{
   color: #FFE492
   ;
}
.footer-link ul{
   margin: 0;
   padding: 0;
}
.footer-link li{
   list-style: none;
}
.footer-contact h3{
   font-size: 18px;
   font-weight: 700;
   padding-bottom: 10px;
}
.footer-bottom{
   border-top: 1px solid #2E4E73;
   padding: 35px 0;
}
.footer-lan a{
   text-decoration: none;
   color: #FFFFFF;
}
.footer-lan i{
   margin-right: 10px;
}
.footer-lan .dropdown-menu a{
   color: #212529;
}
.footer-social a{
   text-decoration: none;
   color: #FFFFFF;
   display: inline-block;
   margin-left: 32px;
}
@media (max-width: 991px){
   .footer-top{
      text-align: center;
   }
   .footer-about {
      margin-bottom: 40px;
   }
   .footer-link{
      margin: 40px 0;
   }
   .footer-contact{
      margin-top: 40px;
   }
   .footer-lan{
      text-align: center;
   }
   .footer-social{
      text-align: center;
      border-top: 1px solid #2E4E73;
      padding-top: 32px;
   }
   .footer-social a{
      margin: 0 16px;
   }
   .footer-bottom{
      border-top:none;
   }
   .footer-copyright{
      margin: 32px 0;
   }
}
