
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap');

/* Basic css 
*/
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    background-color: rgb(178, 223, 223);
    line-height: 1.7;
}

.theme-button{
    display: inline-block;
    background: #4F9CF9;
    border-radius: 8px;
    padding: 16px 24px !important;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 20px;
}
.theme-button:hover{
   color: #FFFFFF;
}
.theme-button-one{
   display: inline-block;
    background: #4F9CF9;
    border-radius: 8px;
    padding: 16px 24px !important;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 20px;
}
.theme-button-one:hover{
   color: #FFFFFF;
}

.theme-button-two{
    display: inline-block;
    background: #FFE492 ;
    border-radius: 8px;
    padding: 16px 24px !important;
    color: #043873 !important;
}
.theme-button-three{
   display: inline-block;
   background: #FFFFFF ;
   border:  1px solid #FFE492;
   border-radius: 8px;
   padding: 16px 24px !important;
   color: #043873 !important;
   text-decoration: none;
}
.theme-button i{
    margin-left: 10px;
}

.theme-text h3{
    font-weight: 700;
    font-size: 72px;
    color: #212529;
    margin-bottom: 15px;
    letter-spacing: -0.02em;
 }
 .theme-text p{
    color: #212529;
 }
 .theme-text h3 span{
    position: relative;
    z-index: 1;
 }
 .theme-text h3 span::after{
    position: absolute;
    content: "";
    width: 680px;
    Height: 68px;
    left: 0px;
    bottom:0px;
    z-index: -1;
    background-image: url(img/element1.png);
    background-position: bottom;
    background-repeat: no-repeat;
 }


 /* header css */
 .header-area{
    background-color:#043873 ;
    padding: 16px 0;
 }
 .header-area .theme-button{
    margin-left: 24px;
    margin-top: 0;
 }
 .header-area .theme-button-two{
    margin-left: 24px;
 }
 
 .header-area .nav-link{
    color: #FFFFFF;
    padding:0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    padding: 16px 24px !important;
 }
 .header-area .navbar-toggler{
    border: none;
    box-shadow: none;
 }



 /* start hero area */
 .hero-area{
    padding: 100px 0;
    background-image: url(img/hero-bg.png);
    background-size: cover;
    background-position: center;
 }
 .hero-text h3{
    font-weight: 700;
    font-size: 52px;
    
    letter-spacing: -0.02em;
 }
 .hero-area .theme-button{
    margin-top: 30px;
 }
 

 /* management area start */
 .management-area{
    padding: 100px 0;
    background-color: #FFFFFF;
 }
 .work-together{
    margin-top: 100px;
}
.work-together .theme-text h3 span::after{
    background-image: url(img/work-element.png);
    background-position:bottom;
    background-size: contain;
    width: 100%;
    Height: 40px;
}



/* Start extension area  */
.extension-area{
    padding: 140px 0;
    background-color: #043873;
}
.extension-area .theme-text h3{
    color: #FFFFFF;
 }
 .extension-area .theme-text p{
    color: #FFFFFF;
 }
 .extension-area .theme-text h3 span::after{
   background-image: url(img/extension-element.png);
   background-position:bottom;
   background-size: contain;
   width: 410px;
    Height: 49px;
    left: -71px;
    bottom: -27px;
}


/* Start customise area */

 .customise-area{
    padding: 140px 0;
    background-color: #FFFFFF;
}
.customise-area .theme-text h3 span::after{
   background-image: url(img/cus-element.png);
   width: 648px;
   height: 70px;
   left: -17px;
   bottom: -7px;

}


/* Start Pricing area */
.Pricing-area{
   padding: 140px 0;
   background-color: #FFFFFF;
}
.Pricing-area .theme-text h3 span::after{
   background-image: url(img/pricing-element.png);
   width: 318px;
   height: 30px;
   left: 12px;
   bottom: -3px;

}
.Pricing-area .theme-text{
   text-align: center;
}
.Pricing-area .owl-stage {
   display: flex;
   align-items: center;
}
.Pricing-area .row{
   margin-bottom: 60px;
}
.single-pricing{
   color: #212529;
   padding: 40px 44px;
   background: #FFFFFF;
   border: 1px solid #FFE492;
   border-radius: 10px;
}
.single-pricing h4{
   font-size: 24px;
   font-weight: 600;
   margin-bottom: 25px;
}
.single-pricing h2{
   font-size: 36px;
   font-weight: 700;
   margin-bottom: 25px;
}
.single-pricing h5{
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 25px;
}
.single-pricing p{
   font-size: 16px;
   font-weight: 400;
}
.single-pricing img{
   height: 21px !important;
   width: 21px !important;
}
.single-pricing ul{
   margin: 0;
   padding: 0;
}
.single-pricing li{
   list-style: none;
   margin-bottom: 28px;
   display: flex;
   align-items: center;
}
.single-pricing li img{
   margin-right: 15px;
}
.special-pricing{
   padding: 80px 40px;
   background-color: #043873;
   color: #FFFFFF;
}
.special-pricing h2{
   color: #FFE492;
}




/* Start your work */
.your-work-area{
   padding: 140px;
   background-color: #043873;
   
}
.your-work-area h3{
   color: #FFFFFF !important;
}
.your-work-area p{
   color: #FFFFFF; !important
} 
.your-work-area .theme-text h3 span::after{
   
   position: absolute;
   content: "";
   background-image: url(img/icon-y.png);
   left: 0px;
   width: 314px;
   Height: 24px;
   bottom: 0px;
   z-index: -1;
   background-repeat: no-repeat;
}



/* start your data */
.your-data-area{
   padding: 140px 0;
   background-color: #FFFFFF;
}

.your-data-area .theme-text h3 span::after{
   background-image: url(img/data-element.png);
   width: 329px;
   height: 37px;
   bottom: -14px;
}


.sponsors-area{
   padding: 140px 0;
   background-color: #FFFFFF;
   color: #212529;
}
.sponsors-area .theme-text h3 span::after{
   background-image: url(img/sponsor-element.png);
   width: 328px;
   height: 42px;
   left: 0px;
   bottom: -13px;
}
.sponsors-area .data-text{
   margin-bottom: 80px;
}
.single-sponsore img{
   height: 55px;
   width: auto;
}

/* start apps area */

.apps-area{
   padding: 100px 0;
   background-image: url(img/apps-bg.png);
   background-size: cover;
   background-position: center;
}
.apps-area .theme-text h3{
   color: #FFFFFF;
}
.apps-area .theme-text p{
   color: #FFFFFF;
}



.Testimonial-area{
   background-color: #FFFFFF;
   padding: 140px 0;
}
.Testimonial-area .theme-text h3 span::after{
   background-image: url(img/clients-group.png);
   width: 258px;
   height: 47px;
   left: 230px;
   bottom: 10px;
   background-size: contain;
   background-position: bottom;
   
}
.Testimonial-area .theme-text{
   margin-bottom: 50px;
}
.single-Testimonial{
padding: 50px 25px;
background: #4F9CF9;
box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
border-radius: 10px;
color: #FFFFFF;
transition: .3s;

}

.single-Testimonial:hover{
   background-color: #FFFFFF;
   color: #212529;
   cursor: pointer;
}
.Testimonial-text i{
  font-size: 70px;
  
margin-bottom: 20px;
}
.Testimonial-text{
   border-bottom: 1px solid #FFFFFF;

}
.Testimonial-text p{
   margin-bottom: 30px;
   line-height: 30px;
  
   
}
.Testimonial-author{
   margin-top: 60px;
   display: flex;
   
}
.author-image{
   margin-right: 35px;
}
.author-text h3{
   font-size: 24px;
   color: #043873;
}
.author-text p{
   margin-bottom: 0;
   
}

.Testimonial-area .owl-dots button{
   height: 15px;
   width: 15px;
   background-color: #4F9CF9 !important;
   border-radius: 50%;
   margin: 5px;
   text-align: center;
   
}
.Testimonial-area .owl-dots{
   text-align: center;
   margin-top: 50px;
}
.Testimonial-area .owl-dots button.active{
   background-color:#043873 !important ;
}


/* start trial-area */
.trial-area{
   padding-top: 140px;
   padding-bottom: 30px;
   background-color: #043873;
}
.trial-area .theme-text h3 {
   color: #FFFFFF;
}

.trial-area .theme-text h4 {
   font-size: 24px;
}
.trial-text{
   text-align: center;
}
.trial-text .theme-button{
   margin-bottom: 25px;
}
.trial-img{
   margin: 40px 0;
}
.trial-img a{
   margin-right: 40px;
   text-decoration: none;
}

/* start footer area */

.footer-area {
   padding-top: 140px;
   background-color: #043873;
   border: 1px solid #2E4E73;
}
.footer-top{
   margin-bottom: 60px;
}
.footer-about img{
   margin-bottom: 15px;
}
.footer-link h3{
   font-size: 18px;
   font-weight: 700;
   padding-bottom: 10px;
}
.footer-link a{
   font-size: 16px;
   color: #FFFFFF;
   text-decoration: none;
   transition: .5s;
   padding-bottom: 5px;
   display: inline-block;
}
.footer-link a:hover{
   color: #FFE492
   ;
}
.footer-link ul{
   margin: 0;
   padding: 0;
}
.footer-link li{
   list-style: none;
}
.footer-contact h3{
   font-size: 18px;
   font-weight: 700;
   padding-bottom: 10px;
}
.footer-bottom{
   border-top: 1px solid #2E4E73;
   padding: 35px 0;
}
.footer-lan a{
   text-decoration: none;
   color: #FFFFFF;
}
.footer-lan i{
   margin-right: 10px;
}
.footer-lan .dropdown-menu a{
   color: #212529;
}
.footer-social a{
   text-decoration: none;
   color: #FFFFFF;
   display: inline-block;
   margin-left: 32px;
}

@media (max-width: 1399px){
   .header-area{
      font-size: 16px;
   }
}
@media (max-width: 1199px){
   .header-area .nav-link {
      padding: 10px 15px !important;
      font-size: 14px;
   }
}


@media (max-width: 991px){

   /* Defult css */

   .theme-button{
       
       text-align: center;
       margin-left: 0;
       margin-top: 15px;
   }
   .theme-button-one{
      width: 100%;
       text-align: center;
       margin-left: 0;
       margin-top: 15px;
   }
   .theme-button-two{
       margin-left: 0;
       width: 100%;
       text-align: center;
       margin-top: 15px;
       
   }
   /* header area css */

   .header-area .nav-link{
       padding:16px 0 !important;
       font-size: 18px;
    }
    .header-area .nav-link{
       position: relative;
    }
    .header-area .nav-link::after{
       position: absolute;
       right: 6px;
       top: 50%;
       transform: translate(-50%);
    }
    .header-area .theme-button{
       margin-left: 0px;
       margin-top: 20px;
    }
    .header-area .theme-button-two{
       margin-left: 0px;
    }
     
    /* start hero css */
   .hero-text{
       text-align: center;
  }
   .hero-text h3{
       font-size: 36px;
       
   }
   .hero-area .theme-button{
       margin-bottom: 30px;
    }
    .hero-area{
       padding: 80px 0;
    }
    


    /* management area css */

   .theme-text{
       text-align: center;
   }
   .theme-text h3{
       font-size: 36px;
       color: #212529;
       margin-bottom: 15px;}
   .management-area .theme-button{
        margin-bottom: 50px;}
   .management-area{
        padding: 80px 0;}
   .work-together{
        margin-top: 60px;}
   .project-management .theme-text h3 span::after{
        width: 254px;
        Height: 40px;
        left: 0px;
        bottom:-24px;
        background-image: url(img/element11.png);
           
        }
        .work-together .theme-text h3 span::after{
           background-image: url(img/w-element.png);
           width: 169px;
           Height: 25px;
        
       }
 
       /* extension area css */
 
   .extension-area .theme-button{
       margin-bottom: 50px;
   }
   .extension-area{
       padding: 80px 0;}
 
    .extension-area .theme-text h3 span::after{
        background-image: url(img/e-element.png);
        background-position:bottom;
        background-size: contain;
        width: 173px;
        Height: 37px;
        left: 63px;
        bottom: -3px;
        }
 
        /* customise area css */
 
   .customise-area{
        padding: 80px 0;}
   .customise-area .theme-text{
       margin-top: 50px;}
 
  .customise-area .theme-text h3 span::after{
   background-image: url(img/c-element.png);
   width: 171px;
   height: 39px;
   left: 66px;
   bottom: -10px;
     
     }

     /* Pricing area css */
   .Pricing-area{
      padding: 80px 0;
   }
   .Pricing-area .theme-text h3 span::after{
      background-image: url(img/p-element.png);
      width: 200px;
      height: 29px;
      left: -78px;
      bottom: -14px;
   
   }
   .special-pricing{
      margin-bottom: 30px;
   }
   .Pricing-area .owl-stage {
      display: flex;
      align-items: center;
   }
   
   .Pricing-area .owl-dots button{
      height: 15px;
      width: 15px;
      background-color: #4F9CF9 !important;
      border-radius: 50%;
      margin: 5px;
      text-align: center;
      
   }
   .Pricing-area .owl-dots{
      text-align: center;
      
   }
   .Pricing-area .owl-dots button.active{
      background-color:#043873 !important ;
   }
   
 
   /* your work area css */
   .your-work-area{
      padding: 80px 0;}
      .your-work-area .theme-text {
         text-align: left;
      }
   
      .your-work-area .theme-text h3 span::after{
         background-image: url(img/icon-y.png);
         left: -370px;
         bottom: -10px;
        
      }
 
      /* your data area css */
 
   .your-data-area{
      padding: 80px 0;
   }
   .your-data-area .theme-text h3 span::after{
      background-image: url(img/d-element.png);
      width: 205px;
      height:52px;
      bottom: -40px;
      left: -15px;
   }
   .your-data-image{
      margin-bottom: 100px;
   }
 
   /* sponsors area css */
   .sponsors-area{
   padding-top: 80px;
   padding-bottom: 30px;}
   .sponsors-area .theme-text h3 span::after{
      background-image: url(img/d-element.png);
      width: 205px;
      height:52px;
      bottom: -40px;
      left: -15px;
   }
 
   .single-sponsore{
      margin-bottom: 50px;
   }
 
   /* apps area css */
   .apps-area{
      padding: 80px 0;
   }
   .apps-area .theme-text{
      margin-top: 80px;
      
   }
   .apps-area .theme-button{
      margin-top: 40px;
   }
 
   /* Testimonial area css */
   .Testimonial-area{
      padding: 80px 0;
 }
 .Testimonial-area .theme-text h3 span::after{
   background-image: url(img/t-group.png);
   width: 257px;
   height:47px;
   bottom: -8px;
   left: 40px;
   background-size: contain;
   background-position: bottom;
 }
 
 /* trial area css */
   .trial-area .theme-text{
      text-align: left;
   }
   .trial-img{
      text-align: left;
   }
   .trial-area{
      padding-top: 80px;
   padding-bottom: 30px;
   }
   .trial-area .theme-text h4 {
      font-size: 18px;
   }
 

 

 
   .trial-area .theme-text{
      text-align: left;
   }
   .trial-img{
      text-align: left;
   }
   .trial-area{
      padding-top: 80px;
   padding-bottom: 30px;
   }
   .trial-area .theme-text h4 {
      font-size: 18px;
   }
 
/* footer area css */
 
   .footer-top{
      text-align: center;
   }
   .footer-about {
      margin-bottom: 40px;
   }
   .footer-link{
      margin: 40px 0;
   }
   .footer-contact{
      margin-top: 40px;
   }
   .footer-lan{
      text-align: center;
   }
   .footer-social{
      text-align: center;
      border-top: 1px solid #2E4E73;
      padding-top: 32px;
   }
   .footer-social a{
      margin: 0 16px;
   }
   .footer-bottom{
      border-top:none;
   }
   .footer-copyright{
      margin: 32px 0;
   }
 }
